/* .Hats-Items{
    justify-content: center;
    margin-left: 20%;
} */

.hat-Container {
    display: inline-block;
}
.hat-Container .mediaCard {
    height: 250px;
    width: 100%;
}
.hat-Container .MuiCardContent-root {
    padding: 0;
}

.hat-Container > a {
    position: absolute;
    right: 80px;
    top: 10px;
    padding: 5px;
    background: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}