.Home > .MainSentence{
    position: relative;
    color: white;
    line-height: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px cadetblue;
    margin-top: 8%;
    z-index: 2;
}
 
@media screen and (max-width:750px){
    .Home > .MainSentence{
        line-height: 45px;
    }
} 