.navTag {
    display: flex;
    justify-content: center;
}
.navTag{
    height:50px;
    padding: 8px;
    border-radius: 50px;
    color: whitesmoke;
    text-decoration: none;
    margin-top: 10%;
    font-size: larger;
    font-weight: bolder;
}

.navTag span {
    display: flex;
    align-items: center;
}

