.AddHat{
    margin: auto;
    width: 100%;
}
.AddHat form{
    background-image: url("../../../assets/images/formItemBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 50%;
}
.AddHat div {
    width: 100%;
}
.AddHat form *{
    color: whitesmoke
}
