.Method { 
    display: inline-flex;
}

.Method section {
    position: relative;
    display: inline-block; 
    right: 40px;
    margin-left: 35%;
    width:60%;
    direction: rtl;
    line-height:38px;
    color:rgb(121, 216, 233);
    font-weight: bolder;
    z-index: 2;
    margin-bottom: 20px;

}

.Method .navBars {
    position: fixed;
}

@media screen and (max-width: 750px) {
    .Method .navBars {
        bottom: 1px;
        margin-top: 1px;
    }
}