.EditItem{
    margin: auto;
    width: 100%;
}
.EditItem form{
    background-image: url("../../../assets/images/formItemBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 50%;
}
.EditItem div {
    width: 100%;
}
.EditItem form *{
    color: whitesmoke
}
